<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register fail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/common-footer-and-head.css">
    <script>
        $(function () {
            setTimeout(function () {
                location.href = "/index";
            }, 1600);
        });
    </script>


</head>
<body>
<h1 style="margin: 49px;color: greenyellow;">Visit is forbid, we will flash page go to index page.</h1>

<!-- footer -->
<div class="foots">
    <p><a href="https://github.com/jiujue">About me</a> <span>| </span>
        <a href="#">Email : jiujueismmp@qq.com</a> <span>| </span>
        <a href="https://github.com/jiujue">My Github</a><span>| </span>
        <a href="https://www.cnblogs.com/jiujue/">My Cnblogs</a>
    </p>
    <p>CopyRight © 9012 JiuJueIsMmp All Rights Reserved</p>
    <p>tel：888-888888</p>
</div>

</body>
</html>